<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Patient List</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/homepage.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="jumbotron">
      <h1>Doctor List</h1>
    </div>
    <div id="wrapper">
        <div class="overlay"></div>

        <!-- Sidebar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                       Webseotips
                    </a>
                </li>
                <li>
                    <a href="homepage.html">Dashboard</a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Department <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li class="dropdown-header">Dropdown heading</li>
                    <li><a href="add_department.html">Add Department</a></li>
                    <li><a href="departmentList.html">Departments list</a></li>
                  </ul>
                </li>

                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Doctors <span class="caret"></span></a>
                  <ol class="dropdown-menu" role="menu">
                    <li class="dropdown-header">Dropdown heading</li>
                    <li><a href="add_doctor.html">Add Doctor</a></li>
                    <li><a href="doctorList.html">Doctors List</a></li>

                  </ol>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Nurse <span class="caret"></span></a>
                  <ol class="dropdown-menu" role="menu">
                    <li class="dropdown-header">Dropdown heading</li>
                    <li><a href="add_nurse.html">Add Nurse</a></li>
                    <li><a href="nurseList.html">Nurses List</a></li>

                  </ol>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">schedule <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li class="dropdown-header">Dropdown heading</li>
                    <li><a href="#">Add schedule</a></li>
                    <li><a href="#">schedule list</a></li>
                  </ul>
                </li>
            </ul>
        </nav>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <!--<button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                <span class="hamb-top"></span>
          <span class="hamb-middle"></span>
        <span class="hamb-bottom"></span>
            </button> -->

            <button type="button" class="btn btn-lg custom-btn" data-toggle="offcanvas">
                <i class="fa fa-bars"></i>
            </button>

            <div class="container">
              <div class="text-right ">
                <form class="form-inline">
                  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn1 btn-primary btn-sm" type="submit">Search</button>
                </form>
              </div>
              <br>
              <div class="panel panel-warning col-lg-14 col-lg-offset-">
                <div class="panel-heading  col-lg-14">
                  <div class=" panel-title row">
                    <div class="col-lg-2"><h3>Doctor List</h3>
                    </div>
                    <div class="col-lg-offset-10">
                      <a href="add_doctor.html"class="dola btn btn-warning btn-lg">Add doctor</a>     </div>

                  </div>
                  </h3>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset--1">
                        <table class="table table-striped table-bordered table-hover table-condensed" >
                          <tr>
                            <th>Firstname</th>
                            <th>Lastname</th>
                            <th>Age</th>
                          </tr>
                          <tr>
                            <td>Jill</td>
                            <td>Smith</td>
                            <td>50</td>
                          </tr>
                          <tr>
                            <td>Eve</td>
                            <td>Jackson</td>
                            <td>24</td>
                          </tr>
                          <tr class="success">
                            <td>John</td>
                            <td>Doe</td>
                            <td>34</td>
                          </tr>
                          <tr>
                            <td>Stephanie</td>
                            <td>Landon</td>
                            <td>47</td>
                          </tr>
                          <tr>
                            <td>Mike</td>
                            <td>Johnson</td>
                            <td>19</td>
                          </tr>
                        </table>
                    </div>
                </div>
              </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="script.js"></script>




  </body>
</html>
