<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/css/index.css">


</head>
<body>
	<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
		<div class="container-fluid">
			<a class="navbar-brand" href="#"><img src="img/helicopter.png" style="width: 60px; height: 60px;"></a>
			<a class="navbar-brand text-light" href="#">Hospitalia</a>
			<button class="navbar-toggler" type="button" data-toggle ="collapse" data-target="#navbarResponsive">
				<span class="navbar-toggler-icons"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class = "nav-item">
						<a class="nav-link text-light" href="#">Home</a>
					</li>
						<li class = "nav-item">
						<a class="nav-link text-light" href="homepage.html">sign in</a>
					</li>
						<li class = "nav-item">
						<a class="nav-link text-light" href="#">Sign up</a>
					</li>
						<li class = "nav-item">
						<a class="nav-link text-light" href="#">contact us</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container-fluid">
		<div class="row jumbotron text-dark">

			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-6">
				<p class="lead"> <h1>Welcome to Hospitalia </h1>
					<br> <h3>Hospitalia is an easy medical software can be used as OR management system which keeps patients’, Doctors and nurses records and monitor other hospital management activities.

				<br> Please,Sign in so we can help you</p>
				</h3>
				<br>

	<form>
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-sm-12">
				  <div class="form-group">
   					 <label for="exampleInputEmail1">Email address</label>
   					 <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
  					</div>
 				  <div class="form-group">
 				    <label for="exampleInputPassword1">Password</label>
 				    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
				   </div>
					 <div class=" row  dp">
             <label  class="col-sm-2">Status</label>
             <div class="col-sm">
             <form>
               <input class="col-sm-1" type="radio" name="gender" value="male" checked>
               <span class="col-sm-3">Patient</span>
               <input class="col-sm-1"type="radio" name="gender" value="female">
               <span class="col-sm-3">Employee</span>

             </form>
           </div>
           </div>


  				  <div class="form-check">
  				    <input type="checkbox" class="form-check-input" id="exampleCheck1">
  				    <label class="form-check-label" for="exampleCheck1">Remember me</label>
 				   </div>
 				   <button type="submit" class="btn btn-dark">Submit</button>
					  <p>Or create new account from <a href="#">here</a></p>
				</div>
			</div>
		</div>

	</form>
			</div>

		</div>
	</div>

	<div class="container-fluid padding">
		<div class="row Welcome text-center">
			<div class="col-12">
				<h1 class = "display-4">Hospitalia</h1>
				<hr>
				<div class="col-12">
				<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid padding">
		<div class="row text-center padding">
			<div class="col-12">
				<hr>
				<h2>Connect</h2>
			</div>
			<div class="col-12 social padding" >
				<a href="#"><i class="fab fa-facebook"></i></a>
				<a href="#"><i class="fab fa-twitter"></i></a>
				<a href="#"><i class="fab fa-instagram"></i></a>
				<a href="#"><i class="fab fa-youtube"></i></a>
			</div>
		</div>
	</div>

<footer>
	<div class="container-fluid padding">
		<div class="row text-center">
			<div class="col-md-4">
				<hr class="light">
				<h5><a href="#">Hospitalia</a></h5>
				<hr class="light">
				<p>01093798267</p>
				<p>donia.199887@gmail.com</p>
				<p>Giza</p>
			</div>
			<div class="col-md-4">
				<hr class="light">
				<h5> Serving Area</h5>
				<hr class="light">
				<p>CAIRO</p>
				<p>GIZA</p>

			</div>

			<div class="col-md-4">
				<hr class="light">
				<h5>Our team</h5>
				<hr class="light">
				<p>Ahmed Elnubi</p>
				<p>Ahmed Adel</p>
				<p>Donia Abdelsalam</p>
				<p>Shaden Ahmed</p>
				<p>Merna Mohammed</p>
				<p>Gehad Mohammed</p>
			</div>

			<div class="col-12">
				<hr class="light">
				<h5>&copy; Hospitalia.com</h5>
			</div>


		</div>
	</div>
</footer>


<script src="https://kit.fontawesome.com/a179535e20.js" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integr ity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script></script>
</body>
</html>
