<tr>
  <form method="POST" action="">
    <!-- <input type="number" name="ssn" id="hidden" style="display: none;" value="<%=data.ssn %>">
    <input type="number" name="delete" id="hidden" style="display: none;" value="true">
     --><th><%=data.SSN %></th>
    <th><%=data.email %></th>
    <!-- <th><input type="submit" value="submit"></th> -->
  <!-- </form> -->
</tr>
