<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <h1> Hi men,WELLLLLLLLLLLLLLLLLLLLCOME;</h1>
    
    
    <form action="" method="POST">
      <label for="email">email</label>
      <input type="email" name="email"  />
      <label for="pass">pass</label>
      <input type="password" name="pass"  />
      <input type="submit"/>
    </form>
  </body>
</html>
