<!DOCTYPE html>
<html>
<head>
  <title>Login page</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
  <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/styleL.css">
</head>
<body>

<div class="modal-dialog text-center">
  <div class="co-sm-8 main-section">
    <div class="modal-content">
      <div class="col-12 user-img">
        <img src="/img/p2.png" alt="">
        <form class="col-12" method="POST" action="">
          <div class="form-group" >
            <input type="email" name="email" class="form-control" placeholder="Enter Username">
          </div>
          <div class="form-group">
            <input type="password" name="pass" class="form-control" placeholder="Enter Password">
          </div>

          <div class=" row dp">
            <label  class="col-sm-3">Status</label>
            <div class="col-sm-8">
            input
              <input class="col-sm-1" type="radio" name="Occupation" value="Employee" checked>
              <span class="col-sm-1">Patient</span>
              <input class="col-sm-2"type="radio" name="Occupation" value="Patient">
              <span class="col-sm-1">Employee</span>

              <br>
            <button type="submit" class="btn"><i class="fas fa-sign-in-alt"></i>Login </button>
            </form>
          </div>
          </div>


        <div class="col-12 forgot">
          <a href="#">Forgot Password</a>

        </div>

      </div>

    </div>

  </div>

</div>







</body>
</html>
