<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <h1> Hi men,WELLLLLLLLLLLLLLLLLLLLCOME;</h1>
    
    <form action="" method="POST">
      <label for="email">email</label>
      <input type="email" name="email"  />
      <label for="pass">pass</label>
      <input type="password" name="pass"  />
      <div class="custom-select" style="width:200px;">
        <select name= "Occupation">
          <option value="0">Select car:</option>
          <option value="DOCTOR">DOCTOR</option>
          <option value="NURSE">NURSE</option>
          <option value="ADMIN">ADMIN</option>
          <option value="patient">patient</option>
        </select>
      </div>
      <label for="ssn">ssn</label>
      <input type="number" name="ssn"  />
      
      <input type="submit"/>
    </form>
  </body>
</html>
